
<br>
<p>

<h1>
<%= link_to 'Articles', articles_path %> |

<%= link_to 'Books', books_path %> |

<%= link_to 'Journals', journals_path %> |

<%= link_to 'About', about_path %> |

<%= link_to 'Contact', contact_path %> |

<%= link_to 'Welcome', welcome_path %> 

</h1>

</p>